# This is the config file for the motorsport data logger

# Changing options in here changes which hardware option functions run in the main program
# options should be yes or no

[video_options]
pi_camera = yes
flip_pi_vertical = yes
flip_pi_horizontal = yes






